body>header {
    background: #eee;
    padding: 5px;
}

body>header>a>img, body>header ul, body>header ul>li  {
    display: inline-block;
    vertical-align: middle;
}


body>footer {
    background: #eee;
    padding: 5px;
    text-align: center;
}

li.info {
    background: #7f7;
}

li.error {
    background: #f77;
}
#logged-in-info {
    margin-left: 30px;
    float: right;
}
#logged-in-info form {
    display: inline-block;
}
#login-home {
    float: right;
}
#login-home form {
    display: inline-block;
}
.centered {
    margin-top: 20px;
    text-align: center;
}

.postinfobot {
    border-top: solid 1px #f1f1f1;
    line-height: 50px;
    padding: 0 30px 0 94px;
}


.postinfobot .likeblock {
    width: 120px;
}

.postinfobot .prev {
    width: 30px;
}

.postinfobot .prev a {
    font-size: 18px;
    color: #bdc3c7;
}

.postinfobot .posted {
    width: 300px;
    margin-left: 18px;
    font-size: 12px;
    color: #bdc3c7;
    font-family: 'Open Sans Regular', sans-serif;
}

.postinfobot .posted i {
    font-size: 18px;
    color: #bdc3c7;
    padding-right: 8px;
}

.postinfobot .next {
    width: 90px;
    text-align: right;
}

.postinfobot .next a {
    font-size: 18px;
    color: #bdc3c7;
}

.postinfobot .next a i {
    padding-right: 18px;
}